{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block title %}Index{% endblock %}

{% block content %}
  <h2>Recommendations for you</h2>
  <div style="display: flex; flex-direction: row; flex-wrap: nowrap; overflow-x: scroll; width: 100%;">
    {% for movie in recommendations %}
      {{ macros.movie_item(movie) }}
    {% endfor %}
  </div>

  <h2>Top rated</h2>
  <div style="display: flex; flex-direction: row; flex-wrap: nowrap; overflow-x: scroll; width: 100%;">
    {% for movie in top_rated_movies %}
      {{ macros.movie_item(movie) }}
    {% endfor %}
  </div>

  <h2>Recent released</h2>
  <div style="display: flex; flex-direction: row; flex-wrap: nowrap; overflow-x: scroll; width: 100%;">
    {% for movie in recent_movies %}
      {{ macros.movie_item(movie) }}
    {% endfor %}
  </div>
{% endblock %}